body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  font-family: 'Quattrocento-Bold', serif;
}

.loading-container {
  height: 100vh;
  width: 100vw;
  background: linear-gradient(to bottom, #1A1D3B, #424A91);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.quill-image {
  width: 6.5rem; 
  height: 10rem;
  margin-bottom: .2rem;
}

.loading-text {
  color: white;
  font-size: 3.2rem; 
  margin-top: 1rem;
  text-align: center;

}
